__pycache__
.vscode
.idea

.DS_Store
venv

decoder.pt
encoder.pt
generator.pt
params.json
positional_encoding.pt
script.pt
src_tok_emb.pt
tgt_tok_emb.pt
vocab_src.txt
vocab_tgt.txt

javadoc
docs
resources
input.txt
*.log
